.vscode/**
.scala-build/**
.metals/**
.Xil/**
*.riscv
*.txt
!easydram-ramulator/CMakeLists.txt
!easydram-ramulator/src/**/CMakeLists.txt
!easydram-ramulator/requirements.txt
*.hex
*.out
*.o
*.dump
*.bin
